.share {
  width: 90%;
  /* height: 170px; */
  border-radius: 5px;
  background-color: var(--gray-light);
}

.shareWrapper {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.shareInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.shareBottom {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon,
.shareButtonIcon {
  color: var(--blue);
  font-size: 28px !important;
}

.shareButtonIcon {
  cursor: pointer;
}

.shareImageContainer {
  padding: 10px 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 2px;
}

.shareCancelImg {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #545454;
  opacity: 0.8;
  cursor: pointer;
}

.shareCancelImg:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .share {
    width: 100%;
  }
}
