@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

/* Utility classes */
.logo {
  font-family: "Rubik Beastly", cursive;
  font-size: 24px;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}

.topbarContainer {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;

  z-index: 999;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.topbarLeft {
  flex: 3;
}

.topbarCenter {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.searchbar {
  width: 90%;
  height: 35px;
  padding: 5px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  border-radius: 5px;

  border: 0.5px solid #fff;
}

.searchbar:hover {
  border: 0.5px solid #81c6ff !important;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: 5px;
  background-color: transparent;
}

.SearchResult {
  position: relative;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.topbarIcons {
  display: flex;
  align-items: center;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarLink:hover {
  text-decoration: underline;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topbarIconItem {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  transition: 0.13s all ease-out;
  border-radius: 50%;
}

.topbarIconItem:hover {
  background-color: rgb(228, 228, 228);
}

.topbarIcon {
  font-weight: 900 !important;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: #81c6ff;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .topbarLeft {
    display: none;
  }

  .topbarCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topbarRight {
    display: none;
  }
}
