.sidebar {
  flex: 2.5;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: sticky;
  top: 70px;
}

::-webkit-scrollbar {
  display: none;
}

.sidebarContainer {
  padding: 20px;
}

.sidebarList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 14px !important;
}

.sidebarListItem:hover {
  background-color: var(--gray-light);
}

.sidebarIcon {
  margin: 0 15px;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
}

.sidebarFriend:hover {
  background-color: var(--gray-light);
}

.sidebarFriendImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

.sidebarfriendName {
  font-size: 14px;
}

.sidebarActive {
  background-color: var(--gray-light);
  color: var(--blue-light);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
