.searchResultContainer {
  position: fixed;
  background-color: #ffffff;
  width: 37.5%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;

  box-shadow: var(--shadow-lg);
}

@media screen and (max-width: 768px) {
  .searchResultContainer {
    display: none;
  }
}
