.post {
  width: 90%;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.15s ease-out;
  box-shadow: var(--shadow-md);
}

.post:hover {
  background-color: var(--gray-light);
}

.postWrapper {
  padding: 10px 15px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postTopRight {
  cursor: pointer;
}

.postDate {
  font-size: 12px;
  color: var(--text-gray);
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  width: 100%;
  max-height: 500px;
  border-radius: 2px;
  object-fit: contain;
  margin-top: 20px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postBottomLeftIcons,
.postBottomRightIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
}

.postBottomLeftIcon {
  margin-right: 8px;
}

.postBottomLike:hover,
.like:hover,
.postLikeCounter:hover {
  color: var(--red-light);
}

.postBottomComment:hover,
.comment:hover,
.postCommentCounter:hover {
  color: var(--blue-dark);
}

.postBottomShare:hover {
  color: var(--green-dark);
}

.postBottomRightIcons {
  margin-right: 0;
}

.postBottomSave:hover {
  color: var(--green-dark);
}

.likedPostText {
  color: var(--red-light);
}

.likeCounterAnimation {
  animation: likeCounterAnimation 0.15s;
}

.unlikeCounterAnimation {
  animation: unlikeCounterAnimation 0.15s;
}

.postUserDesc {
  font-size: 12px;
  /* color: var(--text-gray); */
  color: rgba(0, 0, 0, 0.6);
  margin: 0 10px;
}

@keyframes likeCounterAnimation {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes unlikeCounterAnimation {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}
